*, *:before, *:after {
    box-sizing: border-box;
  }
  :root {
      --nie:#004ca3;
      --ble:  #7be5e5;
      --cfont:#00043b;
      --log:rgb(255, 74, 74);
      --b:rgb(255, 224, 224);
  }
  
  body {
    margin: 40px;
    font-family: 'Open Sans', 'sans-serif';
    background: linear-gradient(to top right, var(--nie), var(--ble));
    color: #fffdfd;
  }
  
  h1, p {
    margin: 0 0 1em 0;
  }
  
  .shantell-sans-font {
    text-shadow: 1px 1px 7px var(--cfont);
    color: var(--b);
    font-family: "Shantell Sans";
    font-size: 16pt;
    font-style: normal;
    font-variation-settings:
      "BNCE" 2,
      "INFM" 2,
      "SPAC" 1;
  }
  
  /* font do CentrumMuza pod logo */
  .protest-strike-regular {
    font-family: "Protest Strike", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 276%;
    letter-spacing: 10pt;
    color: var(--log);
  }
  
  .wrapper { 
    max-width: auto;
    margin: 0 20px;
    display: grid;
    grid-gap: 10px;
  }
  
  /* Efekt glassmorphism */
  .wrapper > *:not(.topleft) {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
  }
  @keyframes animate-text {
    0%, 100% {
        color: rgb(255, 74, 74);
        text-shadow: 2px 3px 1px rgba(74, 234, 255, 0.478);
    }
    25% {
        color: rgb(74, 234, 255);
        text-shadow: 3px 4px 2px rgba(255, 74, 74, 0.478);
    }
    50% {
        color: rgb(255, 255, 74);
        text-shadow: 4px 5px 3px rgba(74, 234, 255, 0.478);
    }
    75% {
        color: rgb(74, 255, 74);
        text-shadow: 5px 6px 4px rgba(255, 74, 74, 0.478);
    }
}
  @keyframes rotate {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
  }
  /* Logo bez efektu glassmorphism */
  .topleft {opacity:0.7;
    background: none;
    position: absolute;
    top: -4rem;
    left: -7rem;
    max-width: 170rem;
    height: auto;
    z-index: -10;
    animation: rotate 25s linear infinite;
  }
  
  .muza {animation: animate-text 10s infinite;
    position: relative;
    top: -5rem;
    left: 0;
    text-align: center;
  }
  
  @media screen and (max-width: 600px) {
    /* Ustawienia dla iPhone 11 */
    body {margin-left: auto;
        margin-right: auto;
    margin: 1vw 1vw;
    font-family: 'Open Sans', 'sans-serif';
    background: linear-gradient(to right top , var(--nie), var(--ble));
    color: #fffdfd;
  }
  
    
    .wrapper {margin-left: auto;
        margin-right: auto;
      grid-template-columns: 1;
      grid-auto-rows: minmax(1, auto);
    }
  
    .header, .footer {
      grid-column: 1;
      
    }
    .content {
      grid-column: 1;
    }
  
    .block-a, .block-b, .block-c {
      max-height: 28vw;
      
      grid-column:1;
    }
  }
  
  @media screen and (min-width: 600px) {
    .wrapper {
      margin: 0 auto;
      grid-template-columns: 1fr 3fr;
      grid-auto-rows: minmax(150px, auto);
    }
  
    .header, .footer {
      grid-column: 1 / -1;
      display: grid;
    }
  
    .content {
      grid-column: 2;
      grid-row: 2 / 7;
    }
  
    .block-a {
      grid-column: 1;
      grid-row: 2;
      aspect-ratio: 1 / 1 ;
      
    }
  
    .block-b {
      grid-column: 1;
      grid-row: 4;
      aspect-ratio: 1 / 1 ;
    }
  
    .block-c {
      grid-column: 1;
      grid-row: 6;
      aspect-ratio: 1 / 1 ;
    }
  }
  
  /* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
  @supports (display: grid) { 
    .wrapper > * {
      width: auto;
      margin: 0;
    }
  }
  